$custom_color: black;
$header_table: #5CACE2;
$font-table: #05213a;
$table-odd: #D1EAF9;
$table-even: #A9DDF7;
$caller-color: #d68800;
$bg-color: #E3F2FD;


.base-font-color {
    color: $custom_color !important;
}
