// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'footer';
@import 'font_size';
@import 'body';

html {
    height: 100%;
}

.bg-primary-app {
    background-color: #023e85;
}

div.video-container-minimize {
    width: 100%;
    height: 40vh !important;
    margin: 3px;
    background-color: black;
    margin-left: 0.5%;
}

div.video-container-full {
    width: 100%;
    height: 80vh !important;
    margin: 3px;
    background-color: black;
    margin-left: 0.5%;
}

video#myVideo {
    padding: 0.3%;
    height: 100%;
    width: 100%;
}

div.title-info {
    margin: 3px;
    width: 100%;
    background-color: #012362;
    margin-left: 0.5%;
}

div.table-info {
    width: 100%;
    min-height: 15vh;
    background-color: #012362;
}

div.table-currency {
    margin-left: 0.5%;
    margin: 3px;
    width: 100%;
    min-height: 15vh;
    background-color: #012362;
    max-height: 33vh !important;
    overflow-y: hidden;
}

div.counter {
    width: 100%;
    height: 20vh !important;
    background-color: #011e40;
}

div.right-bar {

    margin-right: 5px;

    div.counter-parent {
        padding: 5px;
    }

    div.counter-div-left {
        border-right: #ffcd12 solid 0.5px;
        background-color: #011e40;
    }

    div.counter-div-right {
        background-color: #011e40;
    }

    div.right-bar-caller {
        font-weight: bolder;
        font-size: 50px;
        color: white;

        div.caller-div {
            background-image: linear-gradient(180deg, rgb(42, 79, 182), #000000);
        }
    }

    div.right-bar-title {
        font-weight: bolder;
        font-size: 50px;

        div.title-div-left {
            border-right: #ffcd12 solid 0.5px;
            background-image: linear-gradient(180deg, rgb(42, 79, 182), #011e40);

            span {
                color: white;
            }
        }

        div.title-div-right {
            background-image: linear-gradient(180deg, rgb(42, 79, 182), #011e40);

            span {
                color: white;
            }
        }
    }

    div.right-bar-counter {
        div.parent-right-bar-counter-left {
            background-image: linear-gradient(180deg, rgb(42, 79, 182), #011e40);

            span {
                color: white;
            }
        }

        div.parent-right-bar-counter-right {
            background-image: linear-gradient(180deg, rgb(42, 79, 182), #011e40);

            span {
                color: white;
            }
        }
    }
}

.counter-color {
    color: #ffcd12;
    font-weight: bolder;
}

.title-info {
    padding: 2px;
}

div.parent-table-product {
    max-height: 33vh !important;
    overflow-y: hidden;
}

table.table-currency {
    thead {
        position: sticky;
        top: 0;

        tr {
            th {
                background-color: #012362 !important;
                text-align: center;
                align-content: center;
            }
        }
    }

    tbody {
        tr {
            td {
                text-align: center;
                align-content: center;
            }
        }

        tr:nth-child(odd) {
            td {
                color: white !important;
                background: #034798 !important;
            }
        }

        tr:nth-child(even) {
            td {
                color: white !important;
                background: #013472 !important;
            }

        }
    }
}

table.my-table-product {
    tbody {
        tr:nth-child(odd) {
            td {
                color: white;
                background: #034798 !important;
            }

            td:first-child {
                text-align: left
            }

            td:nth-child(2) {
                text-align: right
            }

        }

        tr:nth-child(even) {
            td {
                color: white;
                background: #013472 !important;
            }

            td:first-child {
                text-align: left
            }

            td:nth-child(2) {
                text-align: right
            }

        }
    }

}

@include media-breakpoint-only(xs) {
    img.logo {
        width: 200px;
    }

    img.logo-call {
        width: 200px;
    }
}

@include media-breakpoint-only(sm) {
    img.logo {
        width: 200px;
    }

    img.logo-call {
        width: 200px;
    }
}

@include media-breakpoint-only(md) {
    img.logo {
        width: 200px;
    }

    img.logo-call {
        width: 200px;
    }
}

@include media-breakpoint-only(lg) {
    img.logo {
        width: 200px;
    }

    img.logo-call {
        width: 200px;
    }
}

@include media-breakpoint-only(xl) {
    img.logo {
        width: 250px;
    }

    img.logo-call {
        width: 200px;
    }
}

@include media-breakpoint-only(xxl) {
    img.logo {
        width: 350px;
    }

    img.logo-call {
        width: 250px;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 2000px) and (max-width: 3000px) {
//     h1 {
//         font-size: 100px !important;
//     }

//     h2 {
//         font-size: 75px !important;
//     }

//     h3 {
//         font-size: 75px !important;
//     }
// }